.vs/
.vscode/
.idea/
build/
build_*/
.deps/
release/
cmake-build-*/
*.user
*.suo
*.o
*.obj
*.so
*.dylib
*.dll
*.exe
*.pdb
*.ilk
.DS_Store
version.h
CMakeCache.txt
CMakeFiles/
compile_commands.json
.ccache/
build-tests/
cmake/.CMakeBuildNumber
